
# flask
# flask_cors
# Werkzeug
# PyJWT
# psycopg2
# python-dotenv
# cloudinary
# pandas
# numpy
# scikit-learn

flask
flask_cors
traceback
Werkzeug
PyJWT
psycopg2
python-dotenv
logging
cloudinary
pandas
json
numpy 
scikit-learn
pickle